<p style="text-align:center" class="notice"><%= notice %></p>
<p style="text-align:center" class="alert"><%= alert %></p>

<div class="form-wrap">

<h1 style="text-align:center">New Profile</h1>

<%= render 'form' %>

<%= link_to 'Back', profiles_path %>
</div>