<!-- Main -->

<%= render 'layouts/navbar' %>
<div class="container bootstrap snippet">
    
<div id="fb-root"></div>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

  <!-- Dashboard with links -->
  <div class="row">
    <div class="col-md-12 box">
        <h2 class="text-primary">Useful Links</h1>
    <ul class="list-group">
      <li class="list-group-item">Courses</li>
      <li class="list-group-item">Assignments</li>
      <li class="list-group-item">Lecturers</li>
      <li class="list-group-item">Students</li>
    </ul>
    </div>
  	<!-- social media feeds -->
    <div class="col-md-12 box">   
       <h2 class="text-primary">Social Feeds</h1> 
	   <div class="row">
         	<div class="col-md-5">
         	    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNCIRL%2F&tabs=timeline&width=450&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
         	    width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
         	</div>
        	<div class="col-md-5">
                 <a class="twitter-timeline" data-lang="en" data-width="500" data-height="500" data-theme="light" data-link-color="#2B7BB9" 
                 href="https://twitter.com/NCIRL?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">National College of Ireland - Curated tweets by TwitterDev</a> 
             <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			
       </div>
  	</div>
  </div>
</div>
