<%= render 'partials/navbar' %>
<br>
  <div class="container bootstrap snippet">
    <h2 class="text-primary"><b>About Us</b></h1>
    <div class="row">
       

        <div class="media">
          <div class="row">
            <div class="media-img col-sm-4 col-md-3 col-lg-3">
              <%= image_tag asset_path("teacher-1280966_1280.jpg") %>         
            </div>
            <div class="col-sm-8 col-md-9 col-lg-9">
              <h3>
                  Lecturer
              </h3>
              <p>
               Nunc urna orci, consectetur id egestas vel, gravida vel quam. Proin tempus nibh nec dolor dapibus convallis. Morbi porta felis sit amet velit vehicula, a blandit velit volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc dictum tortor urna, id consequat felis pharetra ut. In sed quam et lacus luctus suscipit nec vitae elit. Pellentesque eleifend gravida tellus, in condimentum felis lacinia quis.
              </p>
            </div>
          </div>
        </div>

        <div class="media">
          <div class="row">
            <div class="media-img col-sm-4 col-md-3 col-lg-3">
              <%= image_tag asset_path("workplace-1245776_1280.jpg") %>        
            </div>
            <div class="col-sm-8 col-md-9 col-lg-9">
              <h3>
                  Staff      
              </h3>
              <p>
                Integer est risus, accumsan euismod efficitur eu, tristique in ante. Duis a nulla eu nunc dapibus fermentum faucibus non elit. Etiam a justo eget justo iaculis malesuada vel eget leo. Pellentesque at auctor nulla. Nulla vel scelerisque neque, sit amet imperdiet nisi. Mauris ornare eleifend pharetra. Pellentesque eget arcu pharetra ipsum pellentesque maximus in sagittis magna.
              </p>
            </div>
          </div>
        </div>
        
         <div class="media">
          <div class="row">
            <div class="media-img col-sm-4 col-md-3 col-lg-3">
             <%= image_tag asset_path("bookkeeper-1016299_1280.jpg") %> 
            </div>
            <div class="col-sm-8 col-md-9 col-lg-9">
              <h3>
                  Administrator
              </h3>
                  
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet augue lectus, vitae tincidunt magna gravida a. Aliquam ante nulla, accumsan nec efficitur sit amet, viverra id tortor. Morbi quis vulputate nisi. Morbi finibus, nulla pretium mollis commodo, ligula eros blandit nunc, sit amet tincidunt tellus mi ut justo. Quisque lobortis mollis pharetra. 
              </p>
            </div>
          </div>
        </div>
        
    </div>
  </div>               